*.vsidx
CodeCamp/.vs/CodeCamp/FileContentIndex
CodeCamp/.vs/CodeCamp/v17
CodeCamp/bin
CodeCamp/obj
CodeCamp/.vs
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/GuidedProject/Final/obj/Debug/net8.0
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/GuidedProject/Final/obj/Release/net8.0
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/GuidedProject/Final
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/GuidedProject/Starter/obj
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/GuidedProject/Starter/Starter.csproj
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/LICENSE
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/README.md
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/GuidedProject/Starter/bin/Debug/net8.0
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/.vs/Guided-project-foreach-if-array-CSharp-main/v17
CodeCamp/Extracted Files/Guided-project-foreach-if-array-CSharp-main/.vs
